@font-face {
	font-family: "Poppins";
	src: url("fonts/poppins/Poppins-SemiBold.ttf");
}


body {
	background-color: #F2F7F9;
	background-image: linear-gradient(to right,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%);
	background-size: 200% 100%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.tableau {
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr));
	grid-gap: 20px;
	justify-items: center;
	align-items: center;
}

.capteur {
	border-radius: 20px;
	background-color: #D7E7F0;
	padding: 20px;
	margin: 25px;
	width: 300px;
	height: 200;
	position: relative;
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
	transition-delay: 0s;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	max-width: calc(75% - 20px);
}

.capteur:hover {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.capteur.fade-in-translate {
	opacity: 1;
	transform: translateY(0);
}

.capteur.fade-in-translate:nth-of-type(1) {
	transition-delay: 0.2s;
}

.capteur.fade-in-translate:nth-of-type(2) {
	transition-delay: 0.4s;
}

.capteur.fade-in-translate:nth-of-type(3) {
	transition-delay: 0.6s;
}

.historique {
	border: none;
	background-color: #154360;
	color: #FFFFFF;
	padding: 10px 20px;
	font-size: 14px;
	font-family: Poppins, sans-serif;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s ease;
}

.historique:hover {
	background-color: #FFFFFF;
	color: #154360;
	cursor: pointer;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.capteur h2 {
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #2D3B45;
	margin-top: 0;
}

.capteur p {
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #2D3B45;
	margin-top: 20px;
	line-height: 1.5;
}

.capteur img {
	position: absolute;
	top: 20;
	right: 0;
	width: 64;
	height: 64;
	border-radius: 0 20px 0 20px;
}

@keyframes fade-in-translate {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.capteur::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 144px;
	height: 144px;
	background-image: url("chemin/vers/votre/image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-top-right-radius: 20px;
}


.capteur.fade-in {
	opacity: 1;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: #2c3e50;
	color: #fff;
	padding: 0 30px;
}

.navbar-logo h1 {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.navbar-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-menu li {
	margin-left: 70px;
}

.navbar-menu li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.navbar-menu li a:hover {
	color: #ecf0f1;
}


#filter-form label {
	font-family: "Poppins", sans-serif;
	margin-right: 20px;
}

#filter-form select {
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	color: #333333;
	font-size: 16px;
	padding: 10px;
	transition: all 0.2s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#chart {
	float: left;
	margin-right: 50px;
}


#filter-form select:focus {
	outline: none;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#filter-form select option {
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	color: #333333;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(20px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}


#filter-form select {
	animation-name: fadeInRight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

#filter-form select:nth-child(1) {
	animation-delay: 0.2s;
}

#filter-form select:nth-child(2) {
	animation-delay: 0.4s;
}

@media screen and (max-width: 800px) {
	#filter-form {
		flex-direction: column;
		align-items: flex-start;
	}

	#filter-form label {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

#filter-form {
	font-family: "Poppins", sans-serif;
	display: flex;
	align-items: center;
	margin-top: -350px;
}

#filter-form label {
	color: #333;
	font-weight: bold;
	margin-right: 10px;
}

#filter-form select {
	font-size: 16px;
	padding: 8px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
	outline: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

#filter-form select:focus {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transform: translateX(5px);
}

#filter-form select::-ms-expand {
	display: none;
}

#filter-form #select-start {
	margin-right: 20px;
}

#filter-form #select-end {
	margin-right: 20px;
}